.header-nav-wrap-mob {
  display: grid;
  grid-template-columns: 1fr 50px;
  position: absolute;
  top: 0;
  right: 0px;
  left: 0;
  padding: 0.5rem;
  margin: 0 auto;
  color: rgb(138, 138, 138);
  background-color: rgba(0, 0, 0, 0.699);
  box-shadow: 11px 14px 26px -6px rgba(0,0,0,0.59);
  z-index: 101;
}

.header-nav-mob {
  display: inline-flex;
  flex-wrap: wrap;
  list-style: none;
}
.nav-mob {
  justify-self: right;
  align-self: center;
}
.burger-btn {
  margin: 20px;
  border: none;
  background: none;
}
.burger-btn-close{
  margin: 10px 22px;
  display: flex;
  align-items: flex-start;
}
.ico-burger {
  transform: scale(2);
}