.main-filter{
  padding: 0.5rem;
  background-color: #00000050;
  display: flex;
  position: fixed;
  top: 50px;
  width: 100%;
  z-index: 101;
}
.filter-btn {
  color: rgb(138, 138, 138);
  background-color: #313131;
  padding: 0.2rem 0.4rem;
  border: none;
  border-radius: 2px;
  margin: 0.1rem;
}
.filter-btn-active {
  color: rgb(239, 247, 255);
  background-color: #6b6b6b;
}

.filter-btn:focus {
  outline: none;
}
.filter-icon {
  margin-right: 10px;
}