.header-nav {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  margin-bottom: 0;
  min-width: 344px;
}
.btn-nav-li{
  padding: 0.3rem ;
  margin: 0.5rem 0.1rem;
}
.btn-nav {
  outline: none;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  color: aliceblue;
  background-color: transparent;
  text-shadow: 1px 1px 3px rgba(0,0,0,.75);
}
.btn-nav:hover{
  color:  #5e7f9e;
}

@media screen and (max-width: 968px) {
  .header-nav {
    justify-content: center;
  }

}

@media screen and (max-width: 700px) {
  .header-nav-wrap {
    text-align: center;
    grid-column: 1 / -1;
    grid-row: 3 / 4 ;
  }
  .header-nav {
    display: grid;
    grid-template-columns: repeat(3, 100px);
  }
  .btn-nav {
    padding: 5px;
    background-color: rgb(40, 19, 61);
  }
}
