.showcase {
  min-height: 100vh;
  /* position: absolute; */
  background-color: #161616;

}

.showcase-img {
  background-color: #161616;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  object-fit: contain;
  animation: appear 1.5s
}
@keyframes appear {
  0% {  opacity: 0; }
  100% {  opacity: 1; }
}
.showcase-img-sm {
  cursor: zoom-in;
  padding-top: 100px;
  margin: auto;
  max-width: 95%;
  max-height: 95%;
}
.showcase-img-md {
  cursor: zoom-in;
  padding-top: 100px;
  max-width: none;
  max-height: 100%;
  margin: auto;
}
.showcase-img-lg {
  cursor: zoom-out;
  padding-top: 100px;
  max-width: none;
  max-height: none;
  /* margin-top: auto;
  margin-bottom: auto; */
}
