.showcase {
  min-height: 100vh;
  /* position: absolute; */
  background-color: rgb(46, 46, 46);

}

.showcase-img {
  background-color: rgb(46, 46, 46);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  object-fit: contain;
}
.showcase-img-sm {
  cursor: zoom-in;
  padding-top: 100px;
  margin: auto;
  max-width: 95%;
  max-height: 95%;
}
.showcase-img-md {
  cursor: zoom-in;
  padding-top: 100px;
  max-width: none;
  max-height: 100%;
  margin: auto;
}
.showcase-img-lg {
  cursor: zoom-out;
  padding-top: 100px;
  max-width: none;
  max-height: none;
  /* margin-top: auto;
  margin-bottom: auto; */
}
