.order {
  position: relative;
}
.order:after {
  position: absolute;
  top: 40px;
  left: -65px;
  content: 'descending/ascending';
  background-color: rgba(0, 0, 0, 0.479);
  padding: 0 10px 5px 10px;
  border-radius: 5px;
  color: #DDDDDD;
  opacity: 0;
}
.order:hover::after {
  transition-delay: 1.5s;
  opacity: 1;
}
.order-desc {
  transform: rotate(-90deg);
}
.order-asc {
  transform: rotate(90deg);
}